.container{
   width: 100%;
   height: 300px;
    display: flex;
    flex-direction: row;
    margin: none;
    padding: none;
  display: inline;
  
}
body{
    margin: none;
    padding: none;
    margin: 0;
}

.second{
    
    width: 300px;
    height: 70px;
    display: inline;
    position: absolute;
    top: 0;
   
float:left

}
.pic1{
    width: 550px;
    height:530px;
    float: left;
    margin-top: 0%;
    display: flex;
    justify-content: flex-end;
    justify-content:flex-start
 
    }
.one{
    height: 150px;
    width:800px;
    background-color: #fff;
    

}
.two{
    height: 150px;
    width: 800px;
    
    margin-top: -21px;

}
.twotext1{
    color: #282c3f;
}
.twotext2{
    color:  #686b78;
}
.three{
    width: 800px;
    height: 70px;
    
    float: left; 
    border: 1px solid orange;
    


}
.pic2{
    height: 70px;
    width: 150px;
    float: left;
    margin-right: 400px;
    padding-top: 30px;
    
}
.btn{
    width: 100px;
    height: 40px;
    cursor: pointer;

    text-align: center;
    background-color: black;
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 200;
    font-size: 16px;
}
.log{
    float: left;
    cursor: pointer;
    text-align: right;
  padding-top: 57px;
    height: 10px;
    font-weight:bold;
    font-size: 16px;

}
ul{
    margin:0;
      list-style: none;
      display: inline;
      
}
.lft{
    width:70%;
    height: 80px;
    margin-top:px;
    float: left;
  
   border: 1px soid orange;
}
.lfttext{
    color: #a9abb2;
    font-size: 25px;
}
.rgt{
    width:30%;
    height:80 px;
    float: left;
    text-align: center;
    
    

}

.fd{
    width: 240px;
    height: 70px;
    color:#fff;
    cursor: pointer;
    background-color: orange;
    font-size: 20px;
}
.poplr{
    width: 500px;
    height: 10px;
}
.poplrtext{
    color: #a9abb2;
    font-size: 15px;
}
.place{
    color: #686b78;
   
}
.middle{
width: 100%;
height: 400px;
display: flex;
flex-direction: row;
   
    
   
    
    
}
.am{
    width: 450px;
    height: 400px;
    background-color:#171010 ;
    margin-top: 158px;
    

}
.bm{
    margin-top: 158px;
    width: 450px;
    height: 400px;
    background-color:#171010;
    flex: 1;
}
.cm{
    margin-top: 158px;
    width: 450px;
    height: 400px;
    background-color:#171010;

}
.pic3{
    
    height: 250px;
    padding-left: 150px;
    
}
.pic4{
    height: 250px;
    padding-left: 150px;

}
.pic5{
    
    height: 250px;
    padding-left: 150px;
}
.ml{
    padding-left: 90px;
    color: #fff;
}
.mp{
    padding-left: 90px;
    color: #fff;    
} 
.mh{
    padding-left: 90px;
    color: #fff;   

}
.center{
    width: 100%;
    height: 500px;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
} 
.ca{
    width: 550px;
    height: 500px;
    background-color:#fff;
    margin-top: 150px;
}
.cb{
    width: 400px;
    height: 500px;
    background-color: #fff;
    margin-top: 150px;
}
.cc{
    width: 400px;
    height: 500px;
  background-color: #fff;
    margin-top: 150px;
}
.res{
    

    font-size:large;
    font-weight:100px;
}
.pic6{

    padding-top: 70px;
    height: 56px;
    width: 180px;
    padding-left: 40px;
    font-weight:300px;
    cursor: pointer;
}
.pic7{
    width: 400px;
    height: 400px;
}
.pic8{
    padding-top: 100px;
    width: 400px;
    height: 400px;
}
.pic9{
    cursor: pointer;
}
.footer{
    width:100%;
    height: 270px;
   flex-direction: row;
   display: flex;
   background-color: black;
   margin-top: 150px;
   padding-top: 25px;
   border-bottom: 2px solid #171010;
   
    


}
.af{
    padding-top:19px;
    width: 400px;;
    height: 225px;
    background-color:  black;
    list-style:none;
    border-bottom: 3px;
    padding-left: 30px;
  

}
.bf{
width: 400px;

height: 244px;
    background-color: black;
    list-style:none ;
    border-bottom: 3px;
    
   

}
.cf{
    width: 400px;
    height: 244px;
    background-color:black;
    list-style:none ;
    border-bottom: 3px;
}
.df{
    width: 400px;
    height: 240px;
    background-color: black;
    list-style:none;
    
    border-color: #fff;
    padding-top: 30px;
}
.footerline{
    font-size: 18px;
    color: #fff;
    padding-top:5px;
  
}
.footerheaderline{
font-weight:25px;
font-family: ProximaNova,arial,Helvetica Neue,sans-serif; 
color: gray;
font-weight:600;
padding-bottom: 20px;
}
.pic10{
    padding-top: 40px;
    width: 200px;
    cursor: pointer;

}
.secondfooterline{
    font-weight: 25px;
    color:gray;
    font-weight:600;
   padding-bottom: 20px;
   padding-left: 20px;
}
.secondfooter{
    background-color: black;
} 
.thirdfooter{
    width: 100%;
    height: 610px;
    background-color: black;
    display: flex;
    flex-direction: row;
    list-style: none;

}
.thirdfootera{
    width: 25%;
    height: 610px;
    background-color:black;
    padding-left: 20px;
    
}
.thirdfooterb{
    width: 25%;
    height: 610px; 
    background-color:black;  
}
.thirdfooterc{
    width: 25%;
    height: 610px;
    background-color: black;
}
.thirdfooterd{
    width: 25%;
    height: 610px;
    background-color: black;
}
.thirdfooterline{
    font-size: 18px;
    color: #fff;
    padding-bottom:15px;
    padding-left: 20px;
    list-style: none;

}




    
    
  
